.game {
  width: 100%;

  & .top-section {
    display: flex;
    flex-direction: row;
    gap: 24px;
    width: 100%;
  }

  & .bottom-section {
    display: flex;
    flex-direction: row;
    gap: 24px;
    width: 100%;
  }
}
