.chat {
  display: flex;
  flex-direction: column;

  &__messages {
    height: 116px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    overflow-y: auto;
    padding: 8px;

    & .message {
      display: flex;
      flex-direction: row;

      &__content {
        display: block;
        margin-left: 6px;
        padding: 0 6px;
        border-radius: var(--radius);
        color: var(--text-primary);
        background: #404553;
      }
    }
  }

  &__create-message {
    display: flex;
    flex-direction: row;
    gap: 8px;
    background-color: #2f3943;
    padding: 8px;

    & .btn {
      width: fit-content;
      padding: 0 24px;
    }
  }
}
